Package: lentinj-desktop
Version: 1
Architecture: amd64
Maintainer: Jamie Lentin <jm@lentin.co.uk>
Installed-Size: 11
Section: unknown
Priority: optional
Homepage: https://github.com/lentinj/repo
Description: Packages/config for desktop setup
 Packages/config for desktop setup.
